image: node:18

pages:
  stage: build
  script:
  - npm install
  - npm run build
  - cp dist/index.html dist/404.html
  - rm -rf public
  - mv dist public
  artifacts:
    paths:
    - public
  only:
  - main
