nav {
    position: sticky;
    top: 76px;
    transform: translateX(520px);
    width: 300px;
    background-color: #FFFCEF;
    border: #5182F8 4px solid;
    border-radius: 0 20px 20px 0;
    box-shadow: 12px 20px 0 0 #5182F8;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    -webkit-user-select: none;
    margin-bottom: 20px;
    padding: 30px 24px 30px 20px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #C5C9CD;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Futura Md BT Medium', sans-serif;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

nav a::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    flex-shrink: 0;
}

nav a:hover, a.active:hover {
    color: #FFCA31;
}

nav a:hover::before {
    content: '';
    display: inline-block;
    background-image: url('https://static.igem.wiki/teams/5503/design-materials/activemapmarker.webp');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

nav a.active {
    color: #7AA8F3;
    position: relative;
}

nav a.active::before {
    content: '';
    display: inline-block;
    background-image: url('https://static.igem.wiki/teams/5503/design-materials/defaultmapmarker.webp');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

nav a.active:hover::before {
    background-image: url('https://static.igem.wiki/teams/5503/design-materials/activemapmarker.webp');
}
