html, body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: auto;
}

img {
    -webkit-user-drag: none;
}

@font-face {
    font-family: 'Inter';
    src: url('https://static.igem.wiki/teams/5503/fonts/inter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('https://static.igem.wiki/teams/5503/fonts/futura-md-bt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT Book';
    src: url('https://static.igem.wiki/teams/5503/fonts/futura-bk-bt-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #C7C9CC;
    border-radius: 4px;
    cursor: pointer;
}
