.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7AA8F3;
    position: relative;
    padding-bottom: 68px;
    padding-top: 80px;
}

.title-box-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 90px;
    -webkit-user-select: none;
    z-index: 2;
}

.top-right-image {
    position: absolute;
    right: 0;
    width: 59%;
    height: auto;
    -webkit-user-select: none;
}

.bottom-left-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 59%;
    height: auto;
    -webkit-user-select: none;
}

.background-image-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.background-image-container img {
    display: block;
    height: 400px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.background-style-0 {
    transform: translateX(-700px);
    opacity: 0.5;
}

.background-style-1 {
    transform: translateX(600px);
    opacity: 0.5;
}

.background-style-2 {
    transform: translateX(-700px);
    opacity: 0.5;
}

.background-style-3 {
    transform: translateX(600px) scaleX(-1);
    opacity: 0.5;
}

.background-style-4 {
    transform: translateX(-700px) scaleX(-1);
    opacity: 0.5;
}

.background-style-5 {
    transform: translateX(600px) scaleX(-1);
    opacity: 0.5;
}
