nav {
    position: sticky;
    top: 128px;
    transform: translateX(498px);
    width: 244px;
    background-color: #FFFCEF;
    border: #5182F8 4px solid;
    border-radius: 0 20px 20px 0;
    box-shadow: 12px 20px 0 0 #5182F8;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-user-select: none;
}

nav a {
    display: block;
    color: #C5C9CD;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Futura Md BT', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    transition: opacity 0.5s ease;
}

nav a::before {
    content: '';
    display: inline-block;
    background-image: url('public/DesignMaterials/DefaultMapMarker.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 0;
    transition: opacity 0.5s ease;
}

nav a.active {
    color: #7AA8F3;
    position: relative;
    transition: color 0.5s ease;
}

nav a.active::before {
    content: '';
    display: inline-block;
    background-image: url('public/DesignMaterials/DefaultMapMarker.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 0.5s ease;
}
