html, body {
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('@/assets/fonts/Futura_Md_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT Book';
    src: url('@/assets/fonts/Futura_Bk_BT_Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
