html, body {
    margin: 0;
    padding: 0;
}

html {
    min-width: 1440px;
    overflow-x: auto;
}

img {
    -webkit-user-drag: none;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('@/assets/fonts/Futura_Md_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bk BT Book';
    src: url('@/assets/fonts/Futura_Bk_BT_Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #C7C9CC;
    border-radius: 4px;
    cursor: pointer;
}
