.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7AA8F3;
    position: relative;
    padding-bottom: 68px;
}

.title-box-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 87px;
    -webkit-user-select: none;
}

.top-right-image {
    position: absolute;
    right: 0;
    width: 59%;
    height: auto;
    -webkit-user-select: none;
}

.bottom-left-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 59%;
    height: auto;
    -webkit-user-select: none;
}
